venv/
__pycache__/
__init__.py
*.pyc
*.pyo
*.pyd
logs/
airflow.db
airflow.cfg.bak
simple_auth_manager_passwords.json.generated

.vscode/
.idea/

.DS_Store
Thumbs.db
ib-gateway/
ib-gateway/.env
.env
*.parquet
data/US/*
airflow/
airflow_venv/
ibkr/.config.py.swp
data/crypto
skills/
polymarket_arbitrage/.env
polymarket_arbitrage/.env.example
polymarket_arbitrage/data/arbitrage.db
polymarket_arbitrage/data/arbitrage.db-journal
polymarket_arbitrage/data/arbitrage.db-shm
polymarket_arbitrage/data/arbitrage.db-wal

IA_venv/*
agents/*
diff_backtest.txt
tests/*
setup_vps.sh

polymarket_arbitrage/data/*
**/.streamlit/secrets.toml