venv/
__pycache__/
__init__.py
*.pyc
*.pyo
*.pyd
logs/
airflow.db
airflow.cfg.bak
simple_auth_manager_passwords.json.generated

.vscode/
.idea/

.DS_Store
Thumbs.db
ib-gateway/
ib-gateway/.env
.env
*.parquet
data/US/*
airflow/
airflow_venv/
ibkr/.config.py.swp
data/crypto
skills/